@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);




#dropdown-menu-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-0 .navbar-brand a {
  font-family: 'Oswald', sans-serif;
}
#dropdown-menu-0 .nav .link,
#dropdown-menu-0 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-0 .navbar,
#dropdown-menu-0 .dropdown-menu {
  background: transparent;
}
#dropdown-menu-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-0 .dropdown-menu a:hover,
#dropdown-menu-0 .dropdown-menu a:focus {
  background: transparent;
}
#dropdown-menu-0 .navbar-toggler {
  color: #000000;
}
#dropdown-menu-0 A {
  font-size: 17px;
  font-family: 'Oswald', sans-serif;
}
#header3-9 SMALL {
  font-family: 'Oswald', sans-serif;
  font-size: 17px;
}
#header3-9 H3 {
  font-family: 'Oswald', sans-serif;
}
#header3-9 B {
  font-size: 46px;
}
