@import url('https://fonts.googleapis.com/css?family=Oswald:400,300,700');
 #dropdown-menu-0 .hide-buttons [data-button] {
     display: none !important;
}
 #dropdown-menu-0 .navbar-brand a {
     font-family: 'Oswald', sans-serif;
     font-size: 1em;
     color: #fff;
     text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
     transition: color 0.5s;
}
 #dropdown-menu-0 .navbar-brand a:hover {
     color: #333;
}
 #dropdown-menu-0 .nav .link, #dropdown-menu-0 .dropdown-item {
     font-size: 1em;
     color: #000000;
     transition: color 0.5s;
}
 #dropdown-menu-0 .nav .link:hover, #dropdown-menu-0 .dropdown-item:hover {
     color: #333;
}

 #dropdown-menu-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"], #dropdown-menu-0 .dropdown-menu a:focus {
     background: #ffffff;
}
 #dropdown-menu-0 .navbar-toggler {
     color: #fff;
     transition: color 0.5s;
}
 #dropdown-menu-0 .navbar-toggler:hover {
     color: #333;
}
 #dropdown-menu-0 A {
     font-size: 17px;
     font-family: 'Oswald', sans-serif;
}
 #header3-9 SMALL {
     font-family: 'Oswald', sans-serif;
     font-size: 17px;
}
 #header3-9 H3 {
     font-family: 'Oswald', sans-serif;
}
 #header3-9 B {
     font-size: 46px;
}

 #dropdown-menu-0 .dropdown-menu {
     box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
     border: none;
}
 #dropdown-menu-0 .nav .link, #dropdown-menu-0 .dropdown-item {
     border-bottom: 1px solid #eee;
}
 #dropdown-menu-0 .nav .link:last-child, #dropdown-menu-0 .dropdown-item:last-child {
     border-bottom: none;
}
