.u-section-1 .u-sheet-1 {
  min-height: 1409px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 42px auto 0;
}

.u-section-1 .u-image-1 {
  width: 69px;
  height: 69px;
  margin: 25px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 39px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  min-height: 245px;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-image-2 {
  height: 173px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-image-3 {
  height: 173px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-image-4 {
  height: 173px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  margin: -28px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 52px 0 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 157px;
  margin: 195px 795px 0 30px;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 157px;
  margin: -157px 14px 0 807px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -99px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    min-height: 202px;
  }

  .u-section-1 .u-image-2 {
    height: 141px;
  }

  .u-section-1 .u-image-3 {
    height: 141px;
  }

  .u-section-1 .u-image-4 {
    height: 141px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 625px;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 0;
    margin-left: 621px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    min-height: 464px;
    grid-template-columns: 50% 50%;
  }

  .u-section-1 .u-image-2 {
    height: 163px;
  }

  .u-section-1 .u-image-3 {
    height: 163px;
  }

  .u-section-1 .u-image-4 {
    height: 163px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 405px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-left: 401px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-2 {
    height: 249px;
  }

  .u-section-1 .u-image-3 {
    height: 249px;
  }

  .u-section-1 .u-image-4 {
    height: 249px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 225px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-left: 221px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-2 {
    height: 153px;
  }

  .u-section-1 .u-image-3 {
    height: 153px;
  }

  .u-section-1 .u-image-4 {
    height: 153px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 25px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-left: 21px;
  }
}