button1 {
  /* Set the font style and size */
  font-size: 16px;
  font-family: Arial, sans-serif;
  
  
  /* Set the button size and shape */
  padding: 10px 25px;
  border-radius: 50px;
  
  /* Set the button color and hover effect */
  background: linear-gradient(to right, #4CAF50, #45a049);
  color: black;
  transition: background-color 0.5s;
  
  /* Add some spacing and positioning */
  margin: 10px;
  display: inline-block;
  
  
}

button:hover {
  /* Change the background color on hover */
  background-color: #3f9145;
}

button:active {
  /* Change the background color when the button is clicked */
  background-color: #45a049;
}

